input {
  outline: none;
}

.input {

  $block-name: &; // #{$block-name}__element {}
  background-color: white;
  border: 1px solid rgba(134, 147, 158, 0.2);
  border-radius: 43px;

  &::-webkit-input-placeholder {
    color: rgba(134, 147, 158, 0.6);
  }
  &::-moz-placeholder {
    color: rgba(134, 147, 158, 0.6);
  }
  &:-ms-input-placeholder {
    color: rgba(134, 147, 158, 0.6);
  }
  &:-moz-placeholder {
    color: rgba(134, 147, 158, 0.6);
  }

  &--simple {

  }

  &--subscribe {
    border: none;
    box-shadow: 30px 40px 115px rgba(39, 61, 70, 0.2), 0px 4px 14px rgba(29, 47, 64, 0.05);
    border-radius: 6px;
  }
}
