
.dropdown {
  $block-name: &; // #{$block-name}__element {}
  position: relative;
  display: inline-block;

  &.open {
    #{$block-name} {
      &-menu {
        display: block;
      }
    }
  }

  &-toggle {
    outline: none;
    background: 0;
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      margin-left: 4px;
      vertical-align: 3px;
      border-top: 5px solid #6D6D6D;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    .badge {
      margin-left: 6px;
      pointer-events: none;
    }
  }

  &-menu {
    position: absolute;
    top: calc(100% + 11px);
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0.5rem 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    > a {
      display: block;
      padding: 0.25rem 1.5rem;
      color: #222;
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: none;
        background: #009fff;
        color: white;
      }
    }
  }

  &--right {
    #{$block-name} {
      &-menu {
        left: auto;
        right: 0;
      }
    }
  }
}