// import required partials
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  xl: 754px
);
$grid-gutter-width: 10px;
@import "node_modules/bootstrap/scss/mixins";

// import minimum partials used for this page
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities/display";
@import "node_modules/bootstrap/scss/grid";

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

$roboto: 'Roboto', sans-serif;

// 
.container {
  max-width: 754px;

  @include media-breakpoint-up(sm) {
    
  }
}